/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff"), url("../fonts/raleway-v19-latin-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

body {
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.text {
  color: #757575;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  color: #212121;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__header {
  margin-right: 93px;
}

.logo__blue {
  color: #2196f3;
}

.logo__footer {
  margin-bottom: 20px;
  color: #ffffff;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__header {
  margin-left: auto;
}

.contacts__header-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__header-item:hover, .contacts__header-item:focus {
  color: #2196f3;
}

.contacts__header-icon {
  margin-right: 10px;
}

.contacts__footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__footer-item:not(:last-child) {
  margin-bottom: 9px;
  margin-right: auto;
}

.contacts__footer-text {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__footer-text:hover, .contacts__footer-text:focus {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__website-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  position: relative;
  display: inline;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

.header__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--current::after, .header__link:hover::after, .header__link:focus::after {
  opacity: 1;
  color: #2196f3;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__link--current {
  color: #2196f3;
}

.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__container {
  width: 696px;
  margin: auto;
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.advantage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__title {
  margin-bottom: 10px;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage__text {
  text-align: left;
  font-weight: 400;
  line-height: 1.71;
}

.advantage__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.capability {
  padding-top: 0px;
}

.capability__picture {
  display: block;
}

.capability__item {
  position: relative;
}

.capability__overlay {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.capability__text {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  width: 270px;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team__details {
  padding: 30px 32px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.team__text {
  margin-bottom: 16px;
}

.team__picture {
  display: block;
}

.links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 206px;
}

.links__item {
  width: 44px;
  height: 44px;
}

.links__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  fill: currentColor;
  -webkit-transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links__social:focus, .links__social:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.links__footer {
  margin-bottom: 0px;
}

.links__footer-social-link {
  color: #ffffff;
  background-color: #44454e;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links__footer-social-link:hover, .links__footer-social-link:focus {
  background-color: #2196f3;
}

.links__customers {
  width: 100%;
}

.links__customer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  fill: currentColor;
  -webkit-transition: color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links__customer:focus, .links__customer:hover {
  border-color: #2196f3;
  color: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__address {
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__block {
  margin-right: 70px;
}

.footer__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.common-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.common-form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.common-form__field {
  margin-bottom: 10px;
}

.common-form__field, .common-form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
}

.common-form__frame {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.common-form__input {
  height: 40px;
  padding-left: 42px;
  -webkit-transition: border, outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border, outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common-form__frame:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.common-form__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common-form__field:focus-within .common-form__icon {
  fill: #2196f3;
}

.common-form__textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
  -webkit-transition: border, outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border, outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common-form__textarea:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}

.common-form__text {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
}

.common-form__container {
  position: relative;
}

.common-form__icon-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.common-form__background-tick {
  position: absolute;
  top: 3px;
  left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 16px;
  height: 15px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.common-form__old-checkbox:checked ~ .common-form__background-tick {
  opacity: 1;
}

.common-form__old-checkbox:checked .common-form__policy-text::before {
  opacity: 0;
}

.common-form__policy-text::before:focus, .common-form__policy-text:focus {
  border-color: #2196f3;
}

.common-form__policy-text::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  margin-top: 3px;
  border: 2px solid #212121;
  border-radius: 2px;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.common-form__policy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  line-height: 1.71;
}

.common-form__link {
  margin-left: 3px;
  color: #2196f3;
}

.common-form__policy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 93px;
}

.subscription-form__filling {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 4.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.button {
  border-radius: 4px;
  padding: 10px 32px;
  outline: transparent;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.button__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__submit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.button__subscription-form-icon {
  margin-left: 10px;
}

.radio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  background-color: #ffffff;
}

.radio-button__item:not(:last-child) {
  margin-right: 8px;
}

.radio-button__filter {
  border: none;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: color, background-color, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-button__filter:hover, .radio-button__filter:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-set__item {
  max-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__photo {
  position: relative;
  overflow: hidden;
}

.card-set__overlay {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__text {
  margin: 63px 24px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.card-set__example:hover .card-set__overlay,
.card-set__example:focus .card-set__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card-set__example:hover, .card-set__example:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__item:nth-child(3n) {
  margin-right: 0px;
}

.card-set__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card-set__example {
  display: block;
  color: #212121;
  background-color: #ffffff;
}

.card-set__project-name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__project-type {
  font-size: 16px;
  line-height: 1.87;
}

.card-set__info {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.card-set__picture {
  display: block;
}
/*# sourceMappingURL=main.css.map */