.subscription-form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;

  &__filling {
    width: 570px;
    display: flex;
  }

  &__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;

    font-size: $secondary-font-size;
    line-height: 4.25;
    color: $another-color;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $another-bg-color;
  }
}
