.contacts {
  display: flex;

  &__header {
    margin-left: auto;
  }

  &__header-item {
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $text-color;
    fill: currentColor;

    @include transit(color);
  }

  &__header-item:hover,
  &__header-item:focus {
    color: $accent-color;
  }

  &__header-icon {
    margin-right: 10px;
  }

  &__footer {
    flex-direction: column;
  }

  &__footer-item:not(:last-child) {
    margin-bottom: 9px;
    margin-right: auto;
  }

  &__footer-text {
    color: $another-color;

    @include transit(color);
  }

  &__footer-text:hover,
  &__footer-text:focus {
    color: $accent-color;
  }
}
