.capability {
  padding-top: 0px;

  &__picture {
    display: block;
  }

  &__item {
    position: relative;
  }

  &__overlay {
    @include position(inline-flex);

    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;

    background-color: $overlay-capability-color;
  }

  &__text {
    color: $primary-white-color;
    font-weight: $secondary-font-weight;
    line-height: $primary-line-height;
    text-transform: uppercase;
  }
}
