.button {
  border-radius: 4px;
  padding: 10px 32px;
  outline: transparent;

  color: $primary-white-color;
  background-color: $accent-color;

  cursor: pointer;

  font-family: inherit;
  font-weight: $secondary-font-weight;
  font-size: $secondary-font-size;
  line-height: $third-line-height;
  text-align: center;
  letter-spacing: 0.06em;

  @include transit(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background-color: $primary-white-color;
    cursor: pointer;
  }

  &__basic {
    @include position(flex);
  }

  &__submit {
    width: 200px;
    height: 50px;

    font-weight: $secondary-font-weight;
    font-size: $secondary-font-size;
    line-height: $third-line-height;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    cursor: pointer;

    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  }

  &__subscription-form-icon {
    margin-left: 10px;
  }
}
