.card-set {
  display: flex;
  flex-wrap: wrap;

  &__item {
    max-width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px) / 3);

    @include transit(box-shadow);
  }

  &__photo {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    @include position(inline-flex);
    text-align: left;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $overlay-card-set-color;

    transform: translateY(100%);
    @include transit(transform);
  }

  &__text {
    margin: 63px 24px;

    color: $primary-white-color;
    font-weight: $primary-font-weight;
    font-size: $third-font-size;
    line-height: $card-set-text-line-height;
  }

  &__example:hover &__overlay,
  &__example:focus &__overlay {
    transform: translateY(-100%);
  }

  &__example:hover,
  &__example:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__item:nth-child(3n) {
    margin-right: 0px;
  }

  &__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  &__example {
    display: block;
    color: $primary-text-color;
    background-color: $primary-white-color;
  }

  &__project-name {
    margin-bottom: 4px;

    font-size: $third-font-size;
    line-height: $project-name-line-height;
    letter-spacing: 0.06em;
  }

  &__project-type {
    font-size: $secondary-font-size;
    line-height: $third-line-height;
  }

  &__info {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
  }

  &__picture {
    display: block;
  }
}
