.container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.section {
  padding: 60px 0px;

  @media (min-width: $desktop-width) {
    padding: 94px 0px;
  }
}

.section-title {
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }

  font-size: 36px;
  line-height: $section-title-line-height;
  text-align: center;
}

.text {
  color: $text-color;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
