.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0px;
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: $section-title-line-height;
  text-align: center;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.text {
  color: $text-color;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
