.hero {
  text-align: center;

  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-color: $hero-bg-color;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/hero/hero-bg@2x.jpg);
  }

  @media (min-width: $tablet-width) {
    max-width: 768px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-bg-tablet@2x.jpg);
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-bg-desktop@2x.jpg);
    }
  }

  &__container {
    max-width: 360px;
    margin: auto;

    @media (min-width: $desktop-width) {
      max-width: 696px;
    }
  }

  &__title {
    margin-bottom: 30px;

    color: $primary-white-color;

    font-weight: $bold-font-weight;
    font-size: $hero-title-font-size;
    line-height: $hero-title-line-height;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media (min-width: $desktop-width) {
      font-size: $hero-title-desktop-font-size;
      line-height: $hero-title-desktop-line-height;
    }
  }
}
