.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }

  &__website-nav {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    position: relative;
    display: inline;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $primary-text-color;

    line-height: $primary-line-height;
    letter-spacing: 0.02em;

    @include transit(color);
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;

    background-color: $accent-color;

    opacity: 0;
    transform: scaleX(0);
    @include transit(color);
    @include transit(opacity);
    @include transit(transform);
  }

  &__link--current::after,
  &__link:hover::after,
  &__link:focus::after {
    opacity: 1;
    color: $accent-color;
    transform: scaleX(1);
  }

  &__link--current {
    color: $accent-color;
  }
}
