.team {
  background-color: $secondary-bg-color;

  &__item {
    width: 270px;

    background-color: $primary-white-color;
    font-weight: $primary-font-weight;
    font-size: $secondary-font-size;
    line-height: $team-text-line-height;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__details {
    padding: 30px 32px;
  }

  &__name {
    margin-bottom: 10px;

    font-weight: $special-font-weight;
    font-size: $secondary-font-size;
  }

  &__text {
    margin-bottom: 16px;
  }

  &__picture {
    display: block;
  }
}
