$primary-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$another-color: rgba(255, 255, 255, 0.6);
$secondary-bg-color: #f5f4fa;
$another-bg-color: #2f303a;
$hero-bg-color: #c4c4c4;
$link-color: #afb1b8;
$placeholder-color: rgba(117, 117, 117, 0.5);
$backdrop-color: rgba(0, 0, 0, 0.2);
$overlay-capability-color: rgba(47, 48, 58, 0.8);
$overlay-card-set-color: rgba(33, 150, 243, 0.9);
$footer-social-link-color: #44454e;

$primary-font-size: 14px;
$secondary-font-size: 16px;
$third-font-size: 18px;
$form-text-font-size: 12px;
$form-title-font-size: 20px;
$logo-font-size: 26px;
$hero-title-font-size: 44px;

$primary-line-height: 1.14;
$secondary-line-height: 1.71;
$third-line-height: 1.87;
$project-name-line-height: 2;
$section-title-line-height: 1.67;
$card-set-text-line-height: 1.56;
$form-title-line-height: 1.15;
$hero-title-line-height: 1.36;
$logo-line-height: 1.19;
$radio-button-line-height: 1.62;
$team-text-line-height: 1.18;

$primary-font-weight: 400;
$secondary-font-weight: 700;
$bold-font-weight: 900;
$special-font-weight: 500;

$main-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, cursive;
